.layout {
    min-height: 100vh;
}

.sider {
    position: fixed;
    background-color: black;
    z-index: 1000;
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 999;
}

.content {
    margin-left: 300px;
    margin-top: 50px;
}

.canvas {
    position: relative;
    background-color: pink;
    width: 2000px;
    height: 2000px;
}

.box {
    background-color: red;
    touch-action: none ;
}

.boxId {
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.removeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
    padding: 10px;
    height: auto;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: transparent;
}

.removeButton:hover {
    color: white !important;
    background-color: transparent !important;
}

.video {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 4;
}